<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750868217623-9hk4t4vbqd48otn73ved75r9bcqt52sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750868217623-9hk4t4vbqd48otn73ved75r9bcqt52sm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750868217623-30bf0oehfcr96on35a0pkrqg4qd5al2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQbcXrOfBzKiN3VVAkKC6GdmQgJ8rzkX0</string>
	<key>GCM_SENDER_ID</key>
	<string>750868217623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindfulpath.app</string>
	<key>PROJECT_ID</key>
	<string>mindful-path-3bc36</string>
	<key>STORAGE_BUCKET</key>
	<string>mindful-path-3bc36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750868217623:ios:beb498c8e7054d7bdc8152</string>
</dict>
</plist>